.works {
  .container-fluid {
    .row {
      // padding: 50px 0;

      .team-section {
        // position: relative;
        // background-color: crimson;
        // margin: 0.3px;
        padding: 0.3px;
        height: 230px;

        .img-section {
          width: 100%;
          height: 100%;
          background-color: chartreuse;
          position: relative;
          padding: 0px 0;
          // left: -10%;
          &:hover {
            .content {
              transform: scale(1, 1);
              transform-origin: center;
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            // position: absolute;
            // left: -10%;
          }
          .content {
            position: absolute;
            width: 100%;
            z-index: 99;
            bottom: 0;
            height: 100%;
            background-color: #d44040e6;
            left: 0;
            text-align: center;
            display: flex;
            justify-content: center;
            transition: all 0.5s;
            align-items: center;
            flex-direction: column;
            color: #ffffed;
            transform: scale(0, 0);
            transform-origin: center;
            transition-timing-function: cubic-bezier(1, 0, 0, 1);
            h1 {
              top: 50%;
              font-size: 15px;
            }
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .works {
    .container-fluid {
      .row {
        .team-section {
          height: 270px;
          padding: 2px;
        }
      }
    }
  }
}
